{% extends "blog/base.html.twig" %}

{% block body %}

	<section class="page-title bg-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>{{ article.getTitle() }}</h1>
						<p>{{ article.getCreator() }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="post post-single">
						<h2 class="post-title">{{ article.getTitle() }}</h2>
						<div class="post-meta">
							<ul>
								<li>
									<i class="ion-calendar"></i> {{ article.getDate().format("d, M Y") }}
								</li>
								<li>
									<i class="ion-android-people"></i> POSTED BY {{ article.getCreator() }}
								</li>
								<li>
									<i class="ion-pricetags"></i> {{ article.getCategory() }}
								</li>

							</ul>
						</div>
						<div class="post-thumb">
							<img class="img-fluid" src="images/blog/blog-post-1.jpg" alt="">
						</div>
						<div class="post-content post-excerpt">
							<p>
								{{ article.getContent()|raw }}
							</p>
						</div>
						<div class="post-comments">
							<h3 class="post-sub-heading">{{ notices|length }} Comments</h3>
							<ul class="media-list comments-list m-bot-50 clearlist">

								 {% for notice in notices %}
								<li class="media">
									<a class="pull-left" href="#!">
										<img class="media-object comment-avatar rounded-circle" src="{{ article.getImageURL() }}" alt="" width="50" height="50">
									</a>
									<div class="media-body">
										<div class="comment-info">
											<h4 class="comment-author">
												<a href="#!">{{ notice.getAuthor() }}</a>
											</h4>
											<h6 style="color: #ffc107"><span style="color: #000">Note :</span>
												{% for i in 1..5 %}
													{% if i <= notice.getNote() %}
														★
													{% else %}
														☆
													{% endif %}
												{% endfor %}
											</h6>
										</div>
										<p>
											{{ notice.getContent() }}
										</p>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="post-comments-form">
							<h3 class="post-sub-heading">Leave You Comments</h3>
							<form method="post" action="#!" id="form" role="form">
								<div class="row">
									<div class="col-md-6 form-group">
										<!-- Name -->
										<input type="text" name="name" id="name" class=" form-control" placeholder="Name *" maxlength="100" required="">
									</div>
									<div class="col-md-6 form-group">
										<!-- Email -->
										<input type="email" name="email" id="email" class=" form-control" placeholder="Email *" maxlength="100"
											   required="">
									</div>
									<div class="form-group col-md-12">
										<!-- Website -->
										<input type="text" name="website" id="website" class=" form-control" placeholder="Website" maxlength="100">
									</div>
									<!-- Comment -->
									<div class="form-group col-md-12">
										<textarea name="text" id="text" class=" form-control" rows="6" placeholder="Comment" maxlength="400"></textarea>
									</div>
									<!-- Send Button -->
									<div class="form-group col-md-12">
										<button type="submit" class="btn btn-main ">
											Send comment
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}